.nav-link-btn {
    border: 1px solid #fff;
    padding: 1em;
    background-color: #3f06f9;
    color: #fff;
    text-decoration: none;
    display: flex;
    width: max-content;

    &:hover {
        background-color: #fff;
        color: #3f06f9;
        text-decoration: none;
    }
}