.board {
    background-color: rgba($color: #DDDDDD, $alpha: 0.9);
    width: 80%;
    display: block;
    font-size: 14px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000000;
    border-radius: 20px;

    & > *:not(:last-child) {
        border-bottom: 1px solid black;
    }
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.first-column {
    padding: 10px;
    width: 30%;
    display: block;
    //border-right: 1px solid black;
}

.second-column {
    width: 70%;
    display: block;
    padding: 30px 10px;
    text-align: justify;
    box-sizing: border-box; /* Ensures padding and border are included in the element's width and height */
    height: 100%;
    //align-self: flex-start;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .description {
        padding: 10px;
    }
}

.board-image {
    width: 150px !important;
    display: inline !important;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .header-title {
        font-size: 14px;
        margin-right: 40px;
    }

    .period-title {
        font-size: 13px;
    }
}

@media only screen and (max-width: 950px) {
    .header-title {
        font-size: 16px;
        margin-right: 40px;
    }

    .period-title {
        font-size: 15px;
    }
}