.file-downloader {
    background-color: rgba($color: #DDDDDD, $alpha: 0.9);
    width: 10%;
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Center the items horizontally */

    font-size: 14px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 0px;
    color: #000000;
    cursor: pointer;
}

.image-download {
    width: 24px;
    height: 24px;
    background-size: cover; /* Adjust as needed */
    background-position: center;
}


@media only screen and (max-width: 600px) {
    .file-downloader {
        width: 40%;
    }
}

@media only screen and (max-width: 950px) {
    .file-downloader {
        width: 30%;
    }
}